<section id='cities'>
	<div class='container'>
		<h2>
			Мы федеральная сеть <br />
			и находимся в 38 городах России
		</h2>
		<div class='row'>
			<ul class='col-lg-3 col-6'>
				<li>Альметьевск</li>
				<li>Астрахань</li>
				<li>Балаково</li>
				<li>Балашов</li>
				<li>Барнаул</li>
				<li>Батайск</li>
				<li>Белово</li>
				<li>Волгоград</li>
				<li>Волжский</li>
				<li>Воронеж</li>
			</ul>
			<ul class='col-lg-3 col-6'>
				<li>Горно-Алтайск</li>
				<li>Казань</li>
				<li>Кемерово</li>
				<li>Киров</li>
				<li>Краснодар</li>
				<li>Курган</li>
				<li>Липецк</li>
				<li>Междуреченск</li>
				<li>Мичуринск</li>
				<li>Нальчик</li>
			</ul>
			<ul class='col-lg-3 col-6'>
				<li>Новоалтайск</li>
				<li>Новокузнецк</li>
				<li>Новосибирск</li>
				<li>Новочеркаск</li>
				<li>Орел</li>
				<li>Старый Оскол</li>
				<li>Пенза</li>
				<li>Прокопьевск</li>
				<li>Ростов-на-Дону</li>
				<li>Рязань</li>
			</ul>
			<ul class='col-lg-3 col-6'>
				<li>Саранск</li>
				<li>Саратов</li>
				<li>Севастополь</li>
				<li>Ставрополь</li>
				<li>Тамбов</li>
				<li>Тольятти</li>
				<li>Чита</li>
				<li>Энгельс</li>
			</ul>
		</div>
	</div>
</section>
