<div class='container'>
	<div class='row'>
		<div class='logo col-md-2 col-6'>
			<img src='logo.svg' alt='logo' />
		</div>
		<p class='cities col-md-3 col-6'>
			Находимся в 38 городах<br />
			по всей России
		</p>
		<nav class='col-md-4'>
			<a href='#about'>О франшизе</a>
			<a href='#cases'>Кейсы</a>
			<a href='#contacts'>Контакты</a>
		</nav>
		<div class='number col-md-3'>
			<span>8 800 637-96-96</span>
			<button type='button' class='recall'>Заказать звонок</button>
		</div>
	</div>
</div>
