<div class='container'>
	<div class='row'>
		<div class='logo col-xl-2 col-6'>
			<img src='img/logo.svg' alt='Логотип' width='161' height='61' />
		</div>
		<a href='#cities' class='col-xl-3 col-6'>
			Находимся в 38 городах<br />
			по всей России
		</a>
		<nav class='col-xl-4'>
			<a href='#about'>О франшизе</a>
			<a href='#cases'>Кейсы</a>
			<a href='#contacts'>Контакты</a>
		</nav>
		<div class='number col-xl-3'>
			<span>8 800 637-96-96</span>
			<button type='button' class='recall'>Заказать звонок</button>
		</div>
	</div>
</div>
