<section class='popup inactive' id='recall_popup'>
	<div class='container'>
		<form action='' class='container'>
			<i class='close'></i>
			<h2>Хотите узнать о нашем бизнесе подробнее?</h2>
			<label>
				<span>Имя</span>
				<input type='text' />
			</label>
			<label>
				<span>Номер телефона</span>
				<input type='tel' value='+7 ' />
			</label>
			<label>
				<span>Почта</span>
				<input type='email' placeholder='mail@mail.ru' />
			</label>
			<button class='btn'>Оставить заявку</button>
		</form>
	</div>
</section>
