@xl: ~'(max-width: 1200px)';

* {
  all: unset;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

head,
script {
  display: none;
}

html {
  height: 100%;
  font-size: 1px;
  @media @xl {
    font-size: 0.8px;
  }
}

body {
  height: 100%;
  font-size: 16rem;
  font-family: FuturaPT;
  color: rgb(55, 51, 77);
  line-height: 1.25;
}

main {
  flex-grow: 1;
}

.row {
  flex-direction: row;
}

body > {
  header {
    box-shadow: 0 2px 4px 0 rgba(225, 225, 225, 0.5);
  }
  footer {
    box-shadow: inset 0 1px 3px 0 rgba(190, 190, 190, 0.5);
  }
  header,
  footer {
    padding-top: 30px;
    background-color: rgb(255, 255, 255);
    .row {
      > * {
        align-items: center;
        margin-bottom: 30px;
      }
    }
    nav {
      flex-direction: row;
      justify-content: space-around;
      font-size: 20rem;
    }
    .number {
      align-items: flex-end;
      span {
        font-family: FuturaPT-Demi;
        font-size: 28rem;
        line-height: 0.86;
        color: rgb(49, 64, 174);
        margin-bottom: .5em;
      }
      .recall {
        font-size: 16rem;
        color: rgb(107, 107, 107);
        text-decoration: underline;
      }
    }
  }
  section {
    padding-top: 60rem;
    padding-bottom: 60rem;
  }
}

h2 {
  align-items: center;
  font-weight: bold;
  font-size: 36rem;
}

.btn {
  align-items: center;
  padding: 17rem 40rem;
  border-radius: 30px;
  cursor: pointer;
  background-image: linear-gradient(to top, rgb(41, 72, 255), rgb(57, 106, 252));
  color: white;
  font-weight: bold;
  
  &:hover,
  &:active {
      background-image: linear-gradient(to top, rgb(4, 28, 169), rgb(2, 60, 234));
  }
}
.remark {
  color: rgb(161, 161, 161);
}
